---
const { title } = Astro.props
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>Calorie Tracker | {title}</title>
    <script
      src="https://kit.fontawesome.com/2a447b40ae.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="bg-[var(--body-bg-color)] min-h-screen min-w-screen">
    <main class="p-6">
      <slot />
    </main>
  </body>
</html>
